{% extends 'base.html' %} 

{% block content %} 
    {% if users %}
        <h1> list of users </h1>
        <ul>
            {% for user in users %}
                <li>{{user.user_name}}</li>
                <a href=" 
                {% url 'account:useru' user.pk%} 
                ">update</a>
                <a href=" 
                {% url 'account:userd' user.pk%} 
                ">delete</a> 
            {% endfor %}
        </ul>
    {% endif %} 

    {% if departments %}
        <h1> list of departments </h1>
        <ul>
            {% for department in departments %}
                <li>{{department.name}}</li>
                <a href=" 
                {% url 'account:departmentu' department.pk %}
                 ">update</a>
                <a href=" 
                {% url 'account:departmentd' department.pk%} 
                ">delete</a> 
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}